
!testing/.env.example
# Tauri build artifacts
# Testing secrets
.coverage
.fastembed_cache
.svelte-kit/
/target
build/
chronos
dist/
htmlcov/
mutants.out/
node_modules/
pares-agens
pares-cache
plures-object
pluresdb
src-tauri/gen/
src-tauri/target/
testing/.env
third_party
